<!doctype html>
<html>
    <head>
        <title>Mahjong</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <script src="mahjong/js/phaser.js"></script>
        <script src="mahjong/js/gameSession.js"></script>
        <script src="mahjong/js/game.js"></script>        
        <script src="mahjong/js/tile.js"></script>
        <script src="mahjong/js/board.js"></script>

        

    </head>
    <body>
        <div id="gameDiv"> </div>
    </body>
</html>
