<!doctype html>
<html>
    <head>
        <title>Mahjong</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
        <link rel='stylesheet' type='text/css' href='mahform.css'>
        
        <script> var user =  "{{user_id}}";</script>
        <script> var researcher =  "{{r_id}}";</script>
        <script src='js/phaser.js'></script>
        <script src='js/jquery-3.3.1.js'></script>
        <script src='js/gameSession.js'></script>
        <script src='js/gameStats.js'></script>
        <script src='js/lobby.js'></script>
        <script src='js/game.js'></script>        
        <script src='js/tilenode.js'></script>
        <script src='js/layout.js'></script>
        <script src='js/board.js'></script>
        <script src='js/timer.js'></script>
        <script>window.onload=initLobby</script>
        
    </head>

    <body class = 'main'>
    
        <div id = 'outergame'>
        <div class='game' id='gameDiv'>
        </div>
        </div>
        
        <div class='lobby', id='lobbyDiv'>
        <form method='get' action ='index.html'>
            <button id = 'logout-lobby' >Log Out</button>
        </form>
        <h2>Game Configuration</h2>
        <form id='gameSetup'>
            <div class='dropdown'>
                <select class = 'gridoption' type='text' id='packageDropBox' onchange='changePackage(this.value)' ></select>
                <label class = 'largeLabel' for='packageDropBox'>Layout Package:</label>
            </div>
            <div class='dropdown'>
                <select class = 'gridoption' type='text' id='layoutDropBox' ></select>
                <label class = 'largeLabel' for='layoutDropBox'>Layout:</label>
            </div>
            <div class='dropdown'>
                <select class = 'gridoption' type='text' id='tilesetDropBox' ></select>
                <label class = 'largeLabel' for='tilesetDropBox'>Tileset:</label>
            </div>
            <div class='dropdown'>
                <select class = 'gridoption' type='text' id='backgroundDropBox' ></select>
                <label class = 'largeLabel' for='backgroundDropBox'>Game Background:</label>
            </div>
            <div class = 'bottom'>
                <p><div class='option' id='timerDiv'>
                    <h3 id='timerText'>Session Time Limit</h3>
                    <label for='timerMinuteField'>MM:</label>
                    <input class = 'time' type='number' id='timerMinuteField' min='1' max='59' value='15' >
                    <label for='timerSecondField'>SS:</label>
                    <input class = 'time' type='number' id='timerSecondField' min='0' max='59' value='0' >
                </div>
                <p><div class='option' id='beginnerDiv'>
                    <h3 id='beginnerText'>Enable Beginner Mode</h3>
                    <input type='checkbox' id='beginnerCheck' >
                </div>
                <div class='option' id='hintDiv'>
                    <h3 id='hintText'>Enable Hints</h3>
                    <input type='checkbox' id='hintCheck' >
                </div>
                <div class='option' id='langDiv'>
                    <h3 id='hintText'>Language</h3>
                    <select class = 'language' type='text' id='languageSelect'>
                        <option style="background-image:url(/Assets/Flags/can.png);" value="en">English</option>
                        <option style="background-image:url(/Assets/Flags/chi.png);" value="cn_simp">Chinese (Simplified)</option>
                        <option style="background-image:url(/Assets/Flags/chi.png);" value="cn_trad">Chinese (Traditional)</option>
                    </select>
                </div>
            </div>
            <div class = 'start_real'>
                <input class = 'startgame' type='button' name='startGame' onclick='showGame(false)' value='Start Game' >
            </div>
            <div class = 'practice'>
                <input class = 'startgame' type='button' name='practiceGame' onclick='showGame(true)' value='Practice Game (No Data Recording)' >
            </div>
        </form>
        </div>
        
    </body>
</html>