<!doctype html>
<html>
	<head>
		<title>Mahjong</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="mahform.css">
    </head>
    <body class = 'main'>
    <div class = 'centerDiv'>
        <h1> Mahjong </h1>
        <p>
            <div class='alert' id='loginAlert'>{{error_message}}</div>
            <script>
                if (document.getElementById('loginAlert').textContent === ""){
                    document.getElementById('loginAlert').style.display = 'none'
                }
            </script>
        </p>
    	<form id='loginForm' method='post' action ='game.html'>
    		<p>
                <input type='text' placeholder ='Researcher ID'  name='researcher'/>
    		</p>
    		<p>
                <input type='text' placeholder='Player ID' name='player' required/>
    		</p>
            <p>
            <div> 
                <input class = 'loginCheck' type='checkbox' name='useGenericID'>
                <label class = 'genericLabel' for='useGenericID'>Use Generic Researcher ID</label>
            </div>
            <div class = 'padding'>
                <input class = 'loginCheck' type='checkbox' name='addNewPlayer'>
                <label class = 'genericLabel' for='addNewPlayer'>Add New Player ID</label>
            </div>
            </p>
            <p>
    			<input class = 'small leftButton' type='submit' name='login' value='Login' />
    		</p>
    	</form>
        <form id='cancelLogin' method='get' action ='index.html'>
            <p>
                <input class = 'small' type='submit' name='cancel' value='Cancel' />
    		</p>
        </form>
    </div>
    </body>
</html>