<!doctype html>
<html>
    <style>
.alert {
    position: relative;
    left:25%;
    background-color: #f44336;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 14px 36px;
    width: 45%;
}
    </style>
	<head>
		<title>Mahjong</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="mahform.css">

    </head>
    <div id="colorstrip"/>
    <h1> Mahjong </h1>
    <body>
        <p>
            <div class='alert' id='loginAlert'>{{error_message}}</div>
            <script>
                if (document.getElementById('loginAlert').textContent === ""){
                    document.getElementById('loginAlert').style.display = 'none'
                }
            </script>
        </p>
    	<form id='loginForm' method='post' action ='game.html'>
    		<p>
                <input type='text' placeholder ='Researcher ID'  name='researcher'/>
    		</p>
    		<p>
                <input type='text' placeholder='Player ID' name='player' required/>
    		</p>
            <p>
                <h3><input type='checkbox' name='useGenericID'> Use Generic Researcher ID</h3>
            </p>
            <p>
    			<input type='submit' name='login' value='Login' />
    		</p>
    	</form>
        <div id='container'>
        <form id='cancelLogin' method='get' action ='index.html'>
            <p>
                <input type='submit' name='cancel' value='Cancel' />
    		</p>
        </form>
        </div>
    </body>
</html>