#saveDiv {
    position: absolute;
    border-radius: 25px;
    background: white;
    padding: 20px 20px 20px 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
    z-index: 10;
}
.saveNumber {
    width: 30px;
}

h1 {
	padding-top: 48px;
	font-size: 60px;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

.childLabel{
	font-size: 24px;
	font-family: Arial;
	font-weight: bold;
    display: inline-block;
    width: 300px;
    float: right;
}

.childSelect{
    background-color: #f1800e;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 20%;
    float: right;
}

#studioTitle{
    padding-bottom: 48px;
}

.studioOption{
    width:40%;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: left;
    display: inline-block;
    transform: translate(50px, -50px);
}

.studioDiv{
   display: inline-block;
   float: left;
   width: 50%
}

/* set background*/
.main {
    background: #D3D3D3;
    background-size: cover;
}

.lobby {
    border-radius: 25px;
    background: white;
    padding: 20px 20px 20px 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.startgame{
	background-color: #f1800e;
	text-align: center;
	padding: 25px 36px;
	font-size: 24px;
	color: #ffffff;
    width: 100%;
}

.time{
    width:20%;
    padding: 8px 8px;

}

.center{
    text-align: center;
}