<!doctype html>
<html>
	<head>
		<title>Word Search</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" type="text/css" href="form.css">
    </head>
    <div id="colorstrip"/>
    <h1> Word Search </h1>

    <body>
    	<form id = 'loginForm' method='post' action ='wordlogin.php' >
    		<p>
    		<input type='text' placeholder ="Researcher ID"  name='username' required/>
    		</p>
    		<p>
    		<input type='text' placeholder = "User ID"  name='password' required/>
    		</p>
    		<p>
    			<input type='submit' name='login' value='Login / Create' />
    		</p>
    		<p>
    			<input type='submit' name='login' value ='Quick Test' />
    		</p>
    	</form>
    </body>
</html>
